<html ng-app='MKSTream'>

<head>
  <title></title>
  <!-- Add additional dependencies -->
  <!-- <script src='./lib/angular.js'></script> -->
  <!-- <script src='./lib/angular-ui-router.js'></script> -->
  <!-- Minified libs -->
  <script src='lib/dest/binarypack.min.js'></script>
  <script src='lib/dest/libs.min.js'></script>
  <script src='lib/peer.min.js'></script>
  <!-- Add additional factories -->
  <script src='./app/components/client_utilities/client_utilities.js'></script>
  <script src='./app/components/client_utilities/factories/fileReaderFactory.js'></script>
  <script src='./app/components/client_utilities/factories/fileUploadFactory.js'></script>
  <script src='./app/components/client_utilities/factories/linkGenerationFactory.js'></script>
  <script src='./app/components/client_utilities/factories/webRTCFactory.js'></script>
  <script src='./app/components/client_utilities/factories/packetHandlersFactory.js'></script>
  <script src='./app/components/client_utilities/factories/fileTransferFactory.js'></script>
  <!-- Add additional controller scripts -->
  <script src='./app/components/connecting/connectingController.js'></script>
  <script src='./app/components/home/homeController.js'></script>
  <!-- Added module and routes -->
  <script src='./app/app_routes.js'></script>
  <script src='./app/app_modules.js'></script>
  <!-- Run grunt uglify to update the app's source code-->
  <!-- // <script src='appmincode.js'></script> -->
  <!-- scripts to move later -->
  <!-- Material Design Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="./assets/css/mdb.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="./assets/css/style.css" rel="stylesheet">
</head>

<body ng-controller='homeController'>
  <!--   <button ng-click='clicker2()'>kcvan test</button> -->
  <!-- <button ng-click='fileGetTest()'>get file</button> -->
  <!--  <h1>testing index.html</h1> -->
  <!-- <button ng-click='generateLink()'>Generate Link</button> -->
  <!-- <button ng-click='home()'>Get home</button> -->
  <div class='overlay'>
  </div>
  <!--Navigation-->
  <nav class="navbar blue navbar-fixed-top z-depth-1" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand waves-effect waves-light" href="#">MKSTream</a>
      </div>
    </div>
  </nav>
  <!--/.Navigation-->
  <!-- Intro image -->
  <section class="full-bg-img">
    <div class="container">
      <div class="space-30"></div>
      <div class="verticalcenter text-center">
        <div class="verticalcenter">
          <div class="animated fadeInDown white-text">
            <div id="dropZone">
              <h6>DRAG FILE OR CLICK TO UPLOAD FILE</h6>
              <input type="file" id="filesId" name="files" multiple />
              <output id="list"></output>
            </div>
            <progress id="progressBar" value="0"></progress>
            <a href="" id='fileLink'>I'm the file, download me. softly.</a>
            <hr class="divider-short">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/. Intro image -->
  <!--Coprytights-->
  <div ui-view></div>
  <!-- scripts to move later -->
  <!-- JQuery -->
  <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
  <!-- Material Design Bootstrap -->
  <script type="text/javascript" src="./assets/js/mdb.js"></script>
</body>

</html>