<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-3 table-data'>File Type</div>
    <div class='col-xs-6 table-data'>File Name</div>
    <div class='col-xs-3 table-data'>Size</div>
  </div>
  <hr class='header-bar'>
  <div class='container-fluid offer'>

    <!-- download file after accepted -->
    <div class='row' ng-repeat-start="transfer in incomingFileTransfers">
      <div class='col-xs-2 table-data'>{{transfer.type}} </div>
      <div class='col-xs-6 col-xs-offset-1 table-data-name'>{{transfer.name}}</div>
      <div class='col-xs-3 table-data'>{{transfer.size}}</div>
    </div>  
    <div class='row'>
      <div class='col-xs-9'><progress value="{{transfer.progress}}" max="{{transfer.size}}"></progress></div>
      <div class='col-xs-3'><a href='' id='file{{$index}}'>Download</a></div>
    </div>
    <br>
    <div ng-repeat-end></div>

    <!-- accept file to download -->
    <div class='row' ng-repeat-start="offer in offers">
      <div class='col-xs-2 table-data'>{{offer.type}}</div>
      <div class='col-xs-6 col-xs-offset-1 table-data-name'>{{offer.name}}</div>
      <div class='col-xs-3 table-data'>{{offer.size}}</div>
    </div>  
    <div class='row'>
      <div class='col-xs-9'><a ng-click="acceptFileOffer(offer)">Accept</a></div>
      <div class='col-xs-3'><a ng-click="rejectFileOffer(offer)">Reject</a></div>
    </div>
    <br>
    <div ng-repeat-end></div>





<!-- 
    <div class='row' ng-repeat-start="transfer in incomingFileTransfers">
      <div class='col-xs-2 table-data'>{{transfer.name}}</div>
      <div class='col-xs-6 col-xs-offset-1 table-data-name'>
        <progress value="{{transfer.progress}}" max="{{transfer.size}}"></progress>
      </div>
      <div class='col-xs-3 table-data'><a href='' id='file{{$index}}'>Download</a></div>
    </div>    

    <br>
  </div>
</div> -->




<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Size</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <tr ng-repeat="offer in offers">
      <td>{{offer.name}}</td>
      <td>{{offer.size}}</td>
      <td>
        <button class="btn btn-default" ng-click="acceptFileOffer(offer)">Accept</button>
      </td>
      <td>
        <button class="btn btn-default" ng-click="rejectFileOffer(offer)">Reject</button>
      </td>
    </tr>
  </tbody>
</table> -->




<!--   <table class="table table-hover">
      <thead>
        <tr>
          <th>File</th>
          <th>Size</th>
          <th>Test</th>
        </tr>
      </thead>
      <tbody>
        <tr id='downloadTable' ng-repeat="transfer in incomingFileTransfers">
          <td>{{transfer.name}}</td>
          <td>
            <progress value="{{transfer.progress}}" max="{{transfer.size}}"></progress>
          </td>
          <td><a href='' id='file{{$index}}'>Download</a></td>
        </tr>
      </tbody>
    </table> -->
<!-- <input id="currentUrl" value="">
    <button class="clipboardButton" data-clipboard-target="#currentUrl">
      Copy to clipboard
    </button>
 -->  
 <!-- </div> -->
