<div class='header-text'>Downloads
  <hr class='header-bar'>
</div>
<div class='scroll-dl'>
  <div class='container-fluid small'>
    <div class='row'>
      <!-- download file after accepted -->
      <div class='row wrapped-dl' ng-repeat-start="transfer in incomingFileTransfers">
        <div class='col-xs-6 table-data-name'><b><u>File Name:</u></b>
          <br> {{transfer.name}}</div>
        <div class='col-xs-3 table-data-type'>{{transfer.type}}</div>
        <div class='col-xs-3 table-data-right'><b><u>File Size:</u></b>
          <br> {{transfer.formattedSize}}</div>
        <div class='col-xs-8'>
          <progress value="{{transfer.progress}}" max="{{transfer.size}}"></progress>
        </div>
        <div class='col-xs-4 table-data-right'><a href='' id='file{{$index}}'>Download</a></div>
      </div>
      <hr>
      <br>
      <div ng-repeat-end></div>
      <!-- accept file to download -->
      <div class='row wrapped-dl' ng-repeat-start="offer in offers">
        <div class='col-xs-9 table-data-name'><b><u>File Name:</u></b>
          <br>{{offer.name}}</div>
        <div class='col-xs-3 table-data-right'><b><u>File Size:</u></b>
          <br>{{offer.size}}</div>
        <div class='col-xs-8' class='table-data-left'>
          <div class='accept-request'><i>Would you like to accept the file?</i></div>
        </div>
        <div class='col-xs-2' class='table-data-right data-acceptbtn'><a href='' ng-click="acceptFileOffer(offer)">Accept</a></div>
        <div class='col-xs-2' class='table-data-right data-rejectbtn'><a href='' ng-click="rejectFileOffer(offer)">Reject</a></div>
        <hr>
      </div>
      <br>
      <div ng-repeat-end></div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- .scroll-dl -->
</div>

