<div>
  <p> 
    Until recently, file sharing in browser had to be done by uploading a file to a server, and then sending it from there to the desired destination.
  </p>
  <p>
    MKStream, powered by <a href="https://webrtc.org/" target="_blank">WebRTC</a>, can be used to create a lightning fast connection for sharing files of any kind with anyone you want. All file sharing is done peer to peer, meaning that the data never touches our servers and remains secure and private. Our database is only used to store the unique links, which are deleted once you finish using them.
  </p>
  <img src="/assets/cropped-group.jpg">
  <p>
    MKStream was developed by four full stack software engineers: Tyler Ferrier, Malek Ascha, Kevin Van and Simon Ding. MK Stream uses <a href="https://angularjs.org/" target="_blank">Angular</a> for the front end, <a href="https://nodejs.org/en/" target="_blank">Node</a>/<a href="http://expressjs.com/" target="_blank">Express</a> and <a href="https://www.mongodb.org/" target="_blank">MongoDB</a> for the backend, and <a href="https://karma-runner.github.io/0.13/index.html" target="_blank">Karma</a> and <a href="https://jasmine.github.io/" target="_blank">Jasmine</a> for testing. We used <a href="http://peerjs.com/" target="_blank">PeerJS</a> to harness WebRTC and create our peer-to-peer connection for file sharing. 
  </p>
</div>