<div>
  <h1><lighter>So</lighter> <strong>what?</strong></h1>
  <p> Traditionally, file sharing is done by first having a user uploads a file onto a server, and then allowing others to download the file from the server.
    <br>
    <br>
  MKStream removes the middleman by utilizing WebRTC's powerful api to connect you, and your friend for lightning speed and complete privicy. By using peer-to-peer connection, your files never touch any servers, meaning your file will go straight from your browser, to your friend's.
  <br>
  <img src="/assets/cropped-group.jpg">
  <br>
  MKStream was developed by four full stack software engineers: Tyler Ferrier, Malek Ascha, Kevin Van and Simón Deng. MK Stream is built entirely in javascript, utilizing technologies like Angular for the front end, Node/express and MongoDB for the backend, and testing frameworks, karma and jasmine. In order to harness WebRTC’s powerful api, we used PeerJS to create our peer-to-peer connection for file sharing. 
  </p>
</div>