<div>
  <h1>How it <strong>works</strong></h1>
  <br>
  <h5 style="color: red; font-size: 20px;">Note</h5>
  <p>
    For security reasons, if either peer closes or refreshes their MKStream tab will destroy the connection and void the current anonymous link. To share more files, just go back to MKStream.club and MKStream will be ready for you any time.
  </p>
  <br>
  <h5>Upload files</h5>
  <p>
    Upload your file(s) by clicking the drop-zone and/or dragging and dropping a file into the drop-zone.
  </p>
  <br>
  <h5>Share link</h5>
  <p>
    After choosing your file(s), MKStream creates a anonymous and temporary unique url used to transfer files in the browser. Clicking on the glowing lightning bolt below the drop-zone will copy the temporary url to your clipboard. Give this link to another person to establish a connection and begin transfering.
  </p>
  <br>
  <h5>Transfer data</h5>
  <p>Your url and your file(s) will be available for transfer as long as you keep your MKStream tab open. When both people have the unique url loaded, a file will appear in your receiving section. Clicking accept on a file begins the transfer and readies it for you to download. While connected, feel free to transfer your files back and forth.
  </p>
</div>