<div>
  <h1>How it works</h1>
  <p>
    For security reasons, if either peer closes or refreshes their tab MKStream will destroy the connection and void the current anonymous link. The link is only good for one connection between two people. If you want to send files to more than one person, you must make a new link for each person. To share more files, just go back to <a href="http://www.mkstream.club/#/" target="_blank">MKStream.club</a> and MKStream will be ready for you any time.
  </p>
  <h4>Upload files</h4>
  <p>
    Upload your file(s) by clicking the drop-zone and/or dragging and dropping a file into the drop-zone.
  </p>
  <h4>Share link</h4>
  <p>
    After choosing your file(s), MKStream creates a anonymous and temporary unique url used to transfer files in the browser. Clicking on the glowing lightning bolt below the drop-zone will copy the temporary url to your clipboard. Give this link to another person to establish a connection and begin transfering.
  </p>
  <h4>Transfer data</h4>
  <p>
    Your url and your file(s) will be available for transfer as long as you keep your MKStream tab open. When both people have the unique url loaded, a file will appear in your receiving section. Clicking accept on a file begins the transfer and readies it for you to download. Any time you click and upload a file or drag and drop it, it will be sent to the other person. The connection is good as long as both people stay on it. If you lose your connection for any reason, go back to <a href="http://www.mkstream.club/#/" target="_blank">MKStream.club</a> to get a new link.
  </p>
</div>