<div>
  <h1>How it works</h1>
  <h5 style="color: red; font-size: 20px;">Note</h5>
  <p>
    For security reasons, if either peer closes or refreshes their tab MKStream will destroy the connection and void the current anonymous link. To share more files, just go back to <a href="http://www.mkstream.club/#/">MKStream.club</a> and MKStream will be ready for you any time.
  </p>
  <h4>Upload files</h4>
  <p>
    Upload your file(s) by clicking the drop-zone and/or dragging and dropping a file into the drop-zone.
  </p>
  <h4>Share link</h4>
  <p>
    After choosing your file(s), MKStream creates a anonymous and temporary unique url used to transfer files in the browser. Clicking on the glowing lightning bolt below the drop-zone will copy the temporary url to your clipboard. Give this link to another person to establish a connection and begin transfering.
  </p>
  <h4>Transfer data</h4>
  <p>Your url and your file(s) will be available for transfer as long as you keep your MKStream tab open. When both people have the unique url loaded, a file will appear in your receiving section. Clicking accept on a file begins the transfer and readies it for you to download. While connected, feel free to transfer your files back and forth.
  </p>
</div>
