  .intro,
body,
html {
  height: 100%;
  width: 100%;
}

.navbar-custom {
  background: rgba(0, 0, 0, 0.2);
}

body {
  font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

.btn,
.navbar-custom,
h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h6 {
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
}

a {
  color: #42dca3;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

.light {
  font-weight: 400
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.navbar-custom .nav li a:active,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
  background-color: transparent;
  outline: 0
}

.navbar-custom .navbar-brand {
  font-weight: 700
}

.navbar-custom .navbar-brand:focus {
  outline: 0
}

.navbar-custom a {
  color: #fff
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav li a:hover {
  /*color: rgba(255, 255, 255, .8);*/
  color: #b266ff;
  opacity: 0.8;
}

.btn-circle,
.intro,
.navbar-custom .nav li.active a:hover {
  color: #fff
}

.fa {
  color: white;
}

.lightningHover {
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 0 9px #fff;
}

.clicked {
  background-color: black;
}

.navbar-custom .nav li.active {
  outline: 0
}


/* purple highlight*/

.navbar-custom .nav li.active a {
  background-color: #a64dff;
}

.intro {
  display: table;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: url(./flow1.jpg) bottom center no-repeat #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle
}

.fading-in {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s
}

@keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.pointer-class {
  cursor: pointer;
}

.currentUrlHidden {
  opacity: .01
}

#dropZone:hover,
#fileLink {
  opacity: 1
}

@media(min-width:768px) {
  .intro {
    height: 100%;
    padding: 0
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100%!important;
  font-size: 40px;
}

@-webkit-keyframes pulse {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}

@-moz-keyframes pulse {
  0%,
  100% {
    -moz-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2)
  }
}

.content-section {
  padding-top: 100px
}

.download-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(./purple1.jpg) center center no-repeat #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover
}

@media(min-width:767px) {
  .content-section {
    padding-top: 250px
  }
  .download-section {
    padding: 100px 0
  }
  #map {
    height: 400px;
    margin-top: 250px
  }
}

.btn {
  border-radius: 0;
  font-weight: 400;
}

#dropZone,
#fileLink {
  border-radius: 10px;
  transition: all .5s ease 0s
}

ul.banner-social-buttons {
  margin-top: 0
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0
  }
}

footer {
  padding: 50px 0
}

footer p {
  margin: 0
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2)
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2)
}

img::selection {
  background: 0 0
}

img::-moz-selection {
  background: 0 0
}

/*File Input Styles*/

#filesId {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  cursor: pointer;
  z-index: 101;
}

#dropZone {
  opacity: .6;
  position: relative;
  height: 100px;
  background-color: #fff;
  color: #000;
  border-width: 3px;
  border-style: dotted;
  margin-top: 15%;
  perspective: 500px;
}

#dropZoneText {
  position: relative;
  top: -55%;
  z-index: 100;
}

#fileLink {
  color: #fff;
  background-color: gray
}

#fileLink:hover {
  opacity: .9;
  transform: scale(1.01, 1.01)
}

/*Lightning button styles*/

@-webkit-keyframes yellowPulse {
  from,
  to {
    background-color: #cbcc00;
    -webkit-box-shadow: 0 0 9px #fff
  }
  65% {
    background-color: #e5e600;
    -webkit-box-shadow: 0 0 px #91bd09
  }
}

@-webkit-keyframes greenPulse {
  from,
  to {
    background-color: #00b300;
    -webkit-box-shadow: 0 0 9px #fff
  }
  65% {
    background-color: #38e600;
    -webkit-box-shadow: 0 0 px #91bd09
  }
}

@-webkit-keyframes redPulse {
  from,
  to {
    background-color: #ff3333;
    -webkit-box-shadow: 0 0 9px #fff
  }
  65% {
    background-color: #e60000;
    -webkit-box-shadow: 0 0 px #91bd09
  }
}

.waitingForConnection {
  -webkit-animation-name: yellowPulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}

.connectedToPeer {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}

.disconnected {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}

.table-data-name {
  text-align: left;
}

.header-text {
  font-size: 1.875em;
}

.header-bar {
  border: none;
  height: 3px;
  color: #fff;
  background-color: #fff;
}

.table-data {
  word-wrap: break-word;
  text-align: center;
}

.table-data-type,
.table-data-name {
  text-align: left;
  word-wrap: break-word;
}

.table-data-left {
  /*word-wrap: break-word;*/
  text-align: left;
}

.table-data-right {
  /*word-wrap: break-word;*/
  text-align: right;
}

progress[value] {
  width: 100%;
  position: relative;
  top: 2px;
}

.accept-request {
  text-align: left;
  font-size: 0.875em;
}

.data-acceptbtn,
.data-rejectbtn {
  cursor: pointer;
}

.data-acceptbtn:hover {
  cursor: pointer;
}

.scroll-dl {
  height: 400px;
  overflow: auto;
}

.wrapped-dl {
  background: rgba(0, 0, 0, 0.5);
  /*background: rgba(0, 0, 0, 0.5);*/
  border-radius: 5px;
}

.wrapped-ul {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}


/* The starting CSS styles for the enter animation for loading views*/

.fade-view.ng-enter {
  transition: 1.0s linear all;
  opacity: 0;
}


/* The finishing CSS styles for the enter animation for loading views*/

.fade-view.ng-enter.ng-enter-active {
  opacity: 1;
}


/* The starting CSS styles for the enter animation for loading ng-repeat*/

.fade-repeat.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}


/* The finishing CSS styles for the enter animation for loading ng-repeat*/

.fade-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}

progress {
    background-color: #f3f3f3;
    height: 1em;
}

.text-in-bar {
  position: relative;
  top: -1.4em;
}

.transferRate {
  position: absolute;
  left: -.9em;
}.testing-class {
  font-size: 4em;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.6);
}

img {
  display: block;
  margin: auto;
  border: 1px;
  padding: 10px;
}


.mkstream-logo {
  height: 80px;
  width: 300px;
}

.mk-upload, .mk-download {
  margin-bottom: 5px;
}

